<div class="side-content">
  <div class="side-menu">
    <ul class="menu-list">
      <!-- ANALISIS -->
      <li class="menu-item">
        <a routerLink="/analizar"><i class="fa-solid fa-users"></i> Analizar</a>
      </li>
      <!-- REPORTES -->
      <li class="menu-item">
        <a routerLink="/reportes"><i class="fa-solid fa-calendar-days"></i> Reportes</a>
      </li>
    </ul>
  </div>
  <div class="side-title">
    <h2>Copyright © 2025</h2>
    <h2>SADE</h2>
    <h2>Desarrollado por: Luis Orihuela</h2>
  </div>
</div>
