@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    height: 100%;
  }
  .swal2-container {
    font-family: 'Quicksand';
  }

  p, h1, h2, h3, h4, h5, h6, span, label, button, a, small {
    font-family: 'Quicksand', sans-serif;
  }
